/* line 18, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
html {
  box-sizing: border-box;
}

/* line 22, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
}

/* line 29, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #31373d;
  line-height: 1.4;
  background: #f2f4f5;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 41, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
h1 {
  font-size: 22px;
  font-weight: 400;
}

/* line 46, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
h2 {
  font-size: 19px;
  font-weight: 500;
}

/* line 51, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
h3 {
  font-size: 16px;
  font-weight: 500;
}

/* line 56, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
a {
  text-decoration: none;
  color: #479ccf;
}

/* line 61, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.label-primary {
  color: #31373d;
  font-size: 19px;
  font-weight: 500;
}

/* line 67, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.label-secondary {
  color: #96a7b6;
}

/* line 71, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.active .label-primary,
.active .label-secondary {
  color: #fff;
}

/* line 76, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listheader {
  font-size: 14px;
  font-weight: 500;
  color: #96a7b6;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
}

/* line 89, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea,
select {
  -webkit-appearance: none;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  padding: 0 14px;
  box-shadow: none;
  height: 44px;
  border-radius: 7px;
  border: 1px solid #d3dbe2;
  margin: 0;
}
/* line 109, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  outline: none;
}
/* line 113, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
input[type="text"].input--fullwidth,
input[type="password"].input--fullwidth,
input[type="number"].input--fullwidth,
input[type="time"].input--fullwidth,
input[type="date"].input--fullwidth,
input[type="email"].input--fullwidth,
input[type="tel"].input--fullwidth,
textarea.input--fullwidth,
select.input--fullwidth {
  width: 100%;
}

/* line 118, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
textarea {
  height: auto;
}

/* line 122, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
::-webkit-input-placeholder {
  color: #cad3da;
}

/* line 128, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn {
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  border: 1px solid #d3dbe2;
  color: #479ccf;
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 20px;
  line-height: 40px;
  height: 44px;
}
/* line 148, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn:focus {
  outline: none;
}
/* line 152, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn:active, .btn:focus {
  background: #f2f2f2;
}

/* line 158, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-primary {
  background: #479ccf;
  border-color: #479ccf;
  color: #fff;
}
/* line 163, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-primary:active, .btn-primary:focus {
  background: #3491c8;
}

/* line 169, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-large {
  font-size: 19px;
  padding: 0 50px;
  height: 60px;
  line-height: 58px;
}

/* line 176, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-fullwidth {
  width: 100%;
}

/* line 180, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-delete {
  background: #db7878;
  border-color: #db7878;
  color: #fff;
}
/* line 185, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.btn-delete:active, .btn-delete:focus {
  background: #d66464;
}

/* line 193, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview {
  margin: 12px 0;
  list-style: none;
  padding: 0;
  border: 1px solid #d3dbe2;
  border-radius: 7px;
}

/* line 201, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview > .listview-item {
  background: #fff;
  display: block;
  border-bottom: 1px solid #d3dbe2;
  padding: 12px 20px;
}
/* line 207, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview > .listview-item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
/* line 212, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview > .listview-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 219, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview-sectionheader {
  color: #96a7b6;
  background: #f2f4f5;
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px solid #d3dbe2;
}

/* line 231, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--links > .listview-item {
  padding: 0;
}

/* line 235, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--links > .listview-item > a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
}

/* line 241, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--links > .listview-item > a:active {
  background: #f2f2f2;
}

/* line 245, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--links > .listview-item > a.active {
  background: #479ccf;
  color: #fff;
}

/* line 252, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--edgetoedge {
  border: none;
  border-radius: 0;
  margin: 0;
}

/* line 259, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--edgetoedge > .listview-item:first-child {
  border-radius: 0;
}
/* line 263, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--edgetoedge > .listview-item:last-child {
  border-bottom: 1px solid #d3dbe2;
  border-radius: 0;
}

/* line 271, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--horizontal > .listview-item {
  overflow: hidden;
}

/* line 275, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--horizontal > .listview-item > .label-primary {
  float: left;
  font-size: 16px;
  font-weight: normal;
}

/* line 281, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.listview--horizontal > .listview-item > .label-secondary {
  float: right;
  font-size: 16px;
}

/* line 288, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-splitview {
  overflow: hidden;
  height: 704px;
}

/* line 293, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-splitview > .layout-sidebar {
  float: left;
  width: 39.0625%;
  border-right: 1px solid #d3dbe2;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/* line 303, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-splitview > .layout-master {
  float: left;
  width: 60.83984375%;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/* line 312, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-header {
  background: #fff;
  border-bottom: 1px solid #d3dbe2;
  height: 44px;
  line-height: 44px;
}

/* line 319, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-sidebar > .layout-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

/* line 328, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-footer {
  padding: 20px;
}

/* line 336, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-view--padding {
  padding: 0 20px;
}

/* line 340, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.layout-header-title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #31373d;
  margin: 0;
}

/* line 348, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.buttonbar {
  vertical-align: middle;
}

/* line 352, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.buttonbar > .btn {
  width: 48.1989708%;
  margin-right: 20px;
}

/* line 357, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.buttonbar > .btn:last-child {
  margin-right: 0;
}

/* line 362, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
#kiosk-orders .section {
  padding: 15px;
  background: #fff;
  border: 1px solid #d3dbe2;
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1em;
}

@-webkit-keyframes btn-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes btn-loading-spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 398, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.is-loading,
.is-loading:hover {
  color: transparent !important;
  position: relative !important;
  background-image: none !important;
}
/* line 404, /Users/SamLoser2/client_apps/apps/ruby_on_rails/flour_shop_pos/app/assets/stylesheets/pos_styles.scss */
.is-loading:before,
.is-loading:hover:before {
  content: '' !important;
  border: 1px solid #834E9B;
  border-right: 0;
  border-bottom: 0;
  border-radius: 50%;
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: btn-loading-spinner 0.7s linear infinite;
  animation: btn-loading-spinner 0.7s linear infinite;
  z-index: 3;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

